img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 150px;

}
body {
    background-image: url(http://127.0.0.1:8000/img/zyro-image.png);
    background-repeat: no-repeat;
    background-size: cover;

}
