{% extends 'admin-dashboard.html.twig' %}
{% block title %} Liste des Types de Défaillance{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{asset('css/techniqueHistorique.css')  }}" />
{% endblock %}
{% block body %}
<div class="intro-y datatable-wrapper box p-5 mt-5">
    <table  class="table table-report table-report--bordered display datatable w-full"  id="myTable">
        <thead>
        <tr>
            <th>type défaillance</th>
            <th>nom</th>
        </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td><a href="{{ path('administrer_type_defaillance',{'id':type.id}) }}">{{ type.id }}</a></td>
                <td>{{ type.nom }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block js %}
    <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
        } );
    </script>

{% endblock %}