{% extends 'admin-dashboard.html.twig' %}
{% block css %}
    <link href="css/register-page.css" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container register ">
        <div class="row">
            <div class="col-md-3 register-left">


            </div>
            <div class="col-md-12 register-right mb-5 ml-3">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">Conducteur</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                           aria-controls="profile" aria-selected="false">Technicien</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Créer un compte à un conducteur</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Prénom *" value=""/>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nom *" value=""/>
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Mot de passe *" value=""/>
                                </div>



                                <div class="form-group">
                                    <div class="maxl">
                                        <label class="radio inline">
                                            <input type="radio" name="gender" value="male" checked>
                                            <span> Male </span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" name="gender" value="female">
                                            <span>Female </span>
                                        </label>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email *" value=""/>
                                </div>
                                <div class="form-group">
                                    <input type="text" minlength="10" maxlength="10" name="txtEmpPhone"
                                           class="form-control" placeholder="Numéro de téléphone *" value=""/>
                                </div>


                                <div class="form-group">
                                    <input type="password" class="form-control"
                                           placeholder="Confirmer le mot de passe *" value=""/>
                                </div>
                                <input type="submit" class="btnRegister" value="Register"/>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <h3 class="register-heading">Créer un compte à un technicien </h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Prénom *" value=""/>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nom *" value=""/>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email *" value=""/>
                                </div>
                                <div class="form-group">
                                    <input type="text" maxlength="10" minlength="10" class="form-control"
                                           placeholder="Numéro de téléphne *" value=""/>
                                </div>


                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Mot de passe *" value=""/>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Confirmer le mot de passe *"
                                           value=""/>
                                </div>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option class="hidden" selected disabled>s'il vous plait séléctioner le domaine du technicien
                                        </option>
                                        <option>Meca</option>
                                        <option>Elec</option>
                                        <option>chi haja</option>
                                    </select>
                                </div>

                                <div class="form-group pt-2">
                                    <div class="maxl">
                                        <label class="radio inline">
                                            <input type="radio" name="gender" value="male" checked>
                                            <span> Male </span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" name="gender" value="female">
                                            <span>Female </span>
                                        </label>
                                    </div>
                                </div>

                                <input type="submit" class="btnRegister" value="Register"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}